<p>
  <strong>Address:</strong>
  <%= @resume.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resume.description %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @resume.experience %>
</p>

<p>
  <strong>Education:</strong>
  <%= @resume.education %>
</p>

<%= link_to "Edit", edit_candidate_resume_path %>
